<html>
<head>
    <title>Functional Tests</title>
    <meta name='decorator' content='atl.admin'/>
</head>
<body>
    <script type="text/javascript">
        var groups = {};

            #foreach ($groupEntry in $groups.entrySet())
            groups['${groupEntry.key.key}'] = {
                cliPort : #if ($groupEntry.key.cliPort) ${groupEntry.key.cliPort} #else 0 #end,
                tests : [
                    #foreach ($cls in $groupEntry.value)
                        {name : '${cls.name}', hash : ${cls.name.hashCode()}},
                    #end
                ]
            };
            #end
        var contextPath = '$contextPath';

    </script>
    <style type="text/css">
        /* Overrides the width of the left menu */
        .aui-dialog .dialog-page-menu {
            width : auto;
        }
    </style>
        #foreach ($groupEntry in $groups.entrySet())
            <div>
                <h3>Group: $groupEntry.key.key</h3>
                <a id="${groupEntry.key.key}-reload" href="javascript:void(0)">Reload Tests</a> |
                <a id="${groupEntry.key.key}-run-all" href="javascript:void(0)">Run All</a> |
                <a id="${groupEntry.key.key}-reload-and-run-all" href="javascript:void(0)">Reload and Run All</a>
                <div id="${groupEntry.key.key}-status">Status</div>
                <table class="aui">
                    <tr>
                        <th>Class</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                #foreach ($cls in $groupEntry.value)
                    <tr>
                        <td>$cls.name</td>
                        <td id="${cls.name.hashCode()}-status"></td>
                        <td><a id="${cls.name.hashCode()}-run" href="javascript:void(0)">Run</a> |
                            <a id="${cls.name.hashCode()}-reload-and-run" href="javascript:void(0)">Reload and Run</a> |
                            <a id="${cls.name.hashCode()}-output" href="javascript:void(0)">View Output</a>
                        </td> 
                    </tr>
                #end
                </table>
            </div>
        #end
</body>
</html>